
.portrait-image {
    width: 20%;
}

.header {
    padding-left: 25%;
    padding-right: 25%;
}

.content {
    padding: 5%;
}

hr.rounded {
    border-top: 3px solid #E0E0E0;
    border-radius: 5px;
    width: 60%;
    justify-content: left;
  }

.project-image {
    width: 100%;
}  

@media only screen and (max-width: 600px) {

    .portrait-image {
        width: 40%;
    }
    
    .header {
        padding-left: 10%;
        padding-right: 10%;
    }

}