
.portrait-image {
    width: 20%;
}

.header {
    padding-left: 25%;
    padding-right: 25%;
}

.content {
    padding: 5%;
}

hr.rounded {
    border-top: 3px solid #E0E0E0;
    border-radius: 5px;
    width: 60%;
    justify-content: left;
  }

.project-image {
    width: 100%;
}  

.icon-margin {
    margin: 15px;
}

.testimonial-icon {
    width: 10%;
}

.quote {
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("./public/quote.jpg");
    background-position: center top;
    background-size: cover;
}

@media only screen and (max-width: 600px) {

    .portrait-image {
        width: 40%;
    }
    
    .header {
        padding-left: 10%;
        padding-right: 10%;
    }

    .testimonial-icon {
        width: 20%;
    }

    .quote {
    padding-left: 5%;
    padding-right: 5%;
    }

}